    /*
    Flaticon icon font: Flaticon
    Creation date: 29/08/2019 02:04
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-man:before { content: "\f100"; }
.flaticon-consultation:before { content: "\f101"; }
.flaticon-graph:before { content: "\f102"; }
.flaticon-tracking:before { content: "\f103"; }
.flaticon-layout:before { content: "\f104"; }
.flaticon-life-insurance:before { content: "\f105"; }
.flaticon-piggy-bank:before { content: "\f106"; }
    
    $font-Flaticon-man: "\f100";
    $font-Flaticon-consultation: "\f101";
    $font-Flaticon-graph: "\f102";
    $font-Flaticon-tracking: "\f103";
    $font-Flaticon-layout: "\f104";
    $font-Flaticon-life-insurance: "\f105";
    $font-Flaticon-piggy-bank: "\f106";