	/*
  	Flaticon icon font: Flaticon
  	Creation date: 29/08/2019 02:04
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
font-family: Flaticon;
font-style: normal;
/* margin-left: 20px; */
}

.flaticon-man:before { content: "\f100"; }
.flaticon-consultation:before { content: "\f101"; }
.flaticon-graph:before { content: "\f102"; }
.flaticon-tracking:before { content: "\f103"; }
.flaticon-layout:before { content: "\f104"; }
.flaticon-life-insurance:before { content: "\f105"; }
.flaticon-piggy-bank:before { content: "\f106"; }