a{
    text-decoration: none!important;
}

.table td, .table th{
  vertical-align: middle;
}

a, button, input{
    outline: none!important;
}

a, h5, h6, label, input, tr, td, table, .card-text, .card-title{
    font-family: 'Open Sans', sans-serif!important;
}

.cursor{
  cursor: pointer;
}

p{
  font-family: 'Open Sans';
}

h1, h2, h3, h4{
    font-family: 'Montserrat';
    font-weight: 900;
}

a, p{
    
    font-size: 14px;
    font-weight: 300;
}

.nav-transparent {
  background: transparent !important;
}

.modal{
  z-index: 99999;
}

.fs-80{
  font-size: 80px;
}

.mostra-mobile {
  display: none;
}


@media (max-width: $screen-sm) {
  .mostra-mobile {
    display: block;
  }
}

.bar{
  position: relative;
  &::after{
    content: '';
    background-image: linear-gradient(to right, $color-dynamic2, $bg-dynamic);
    width: 100%;
    height: 27px;
    display: block;
    border-radius: 50px;
    position: absolute;
    bottom: -5px;
    z-index: -1;
    right: 0;
    -webkit-box-shadow: 0px 0px 27px -1px rgba(0,0,0,0.15);
-moz-box-shadow: 0px 0px 27px -1px rgba(0,0,0,0.15);
box-shadow: 0px 0px 27px -1px rgba(0,0,0,0.15);

  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.8rem;
  padding-left: .8rem;
}

.img-depoimento{
  width: 120px!important;
  border-radius: 50%;
  height: 120px;
  margin: 20px auto;
}

.table-responsive {
  display: inline-table!important;
}

@media (max-width: $screen-sm) {
  .table-responsive {
    display: block!important;
  }
}

.navbar{
    z-index: 999;
}

.navbar-nav{
    margin-top: -26px;

    .nav-item {
      color: $white !important;
      font-weight: bold;
      padding-top: 20px;

     /*  .active{
        padding: 2px 13px;
    background: #ff731e;
    border-radius: 40px;
      } */

      .nav-link {
        color: $white;
        @include transition(.3s);
        

        &:hover {
          font-weight: bold;
          color: #fff;
        }
      }
    }

    .cadastrar{
      background: $color-dynamic;
      border-radius: 4px 0 0 4px;
      font-weight: bold;
    }

    .login {
      background: $color-dynamic2;
      border-radius: 0 4px 4px 0;
      font-weight: bold;
    }

    .cadastrar:hover,
    .login:hover {
      background: $white;
    }

    /* .active {
      color: $white !important;
      border-top: 6px solid $color-dynamic;

      .nav-link {
        padding: 2px 13px;
        background: $color-dynamic;
        border-radius: 40px;
        color: $white !important;

        &:hover {
          color: $white !important;
          font-weight: bold;
        }
      }
    } */
}

.bg-scroll {
  background-color: #3c9daf !important;
  width: 100% !important;
  z-index: 999 !important;
  position: fixed !important;
  -webkit-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.10);
  box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.10);
  @include transition(.3s);

  .nav-item {
    color: #fff !important;

    .nav-link {
      color: #fff ;
    }
  }
  
  .cadastrar {
    background: $color-dynamic;
    border-radius: 4px 0 0 4px;
    font-weight: bold;
    color: #fff !important;
  }

  .login {
    background: $color-dynamic2;
    border-radius: 0 4px 4px 0;
    font-weight: bold;
    color: #fff !important;
  }

  .cadastrar:hover,
  .login:hover {
    background: #db6722;
    color: $white !important;
  }

}

.color-default{
  color: $color-dynamic;
}

.bold{
  font-weight: bold;
}


  .btn-default {
    color: $white !important;
    background-image: linear-gradient(to right, $color-dynamic, $color-dynamic2) !important;
    padding: 10px 35px;
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: 3px;
    font-weight: bold;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    @include border-radius(50px);
  }

  .green{
     background-color: green!important;
     color: #fff !important;
     font-weight: normal;
     padding: 5px 15px;
  }

  .btn-download {
    color: #292929 !important;
    background-color: #ebe9e9 !important;
    border: 1px solid #ebe9e9;
    padding: 10px 35px;
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    @include border-radius(50px);
  }

  .btn-download:hover {
    background-color: #d4d2d2 !important;
    border: 1px solid #d4d2d2;
  }

  .btn-transparent {
    color: $white !important;
    background-color: transparent !important;
    border: 1px solid $white;
    padding: 10px 35px;
    display: inline-block;
    margin: 3px;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    @include border-radius(50px);
  }

  .btn-transparent:hover {
    background-color: $color-dynamic !important;
    border: 1px solid $color-dynamic;
  }

  .inputgroupicon {
    position: relative;

    .input-search {
      border-radius: 30px;
      height: 40px;
      background: transparent;
      border: 1px solid #2a2a2a;
      color: #2a2a2a;
      padding: 10px 40px;
      font-size: 15px;
      max-width: 170px;

    }

    .icon-search {
      position: absolute;
      color: #2a2a2a;
      font-size: 20px;
      display: block;
      top: 12px;
      left: 15px;
    }
  }

  .form-control:focus {

    color: #495057;
    background-color: #fff;
    border-color: #ff7307;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(255, 115, 7, .25);

  }


  form#sendmessage {
    input {
      background: #dbdbdb;
      color: #292929;
      border-radius: 10px;
      height: 55px;
      margin-bottom: 15px;
    }

    textarea {
      background: #dbdbdb;
      color: #292929;
      border-radius: 21px;
      margin-bottom: 15px;
      padding: 20px;
    }

    button{
      cursor: pointer;
    }
  }