/*pages and configurations default*/
/*Color palets*/
/*Fonts*/
@import url("../vendor/bootstrap/scss/bootstrap.scss");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
@font-face {
  font-family: 'gotham-ultra';
  src: url("../fontes/gotham-ultra.otf"); }
@font-face {
  font-family: 'gotham-book';
  src: url("../fontes/gotham-book.otf"); }
/*Bootstrap*/
/* $modal-content-bg:                  $dark-slide !default;
$modal-content-border-color:        transparent !default;
$modal-content-border-width:        0 !default;
$modal-content-border-radius:       30px !default; */
/*responsive dynamic system*/
a {
  text-decoration: none !important; }

.table td, .table th {
  vertical-align: middle; }

a, button, input {
  outline: none !important; }

a, h5, h6, label, input, tr, td, table, .card-text, .card-title {
  font-family: "Open Sans", sans-serif !important; }

.cursor {
  cursor: pointer; }

p {
  font-family: 'Open Sans'; }

h1, h2, h3, h4 {
  font-family: 'Montserrat';
  font-weight: 900; }

a, p {
  font-size: 14px;
  font-weight: 300; }

.nav-transparent {
  background: transparent !important; }

.modal {
  z-index: 99999; }

.bar {
  background-image: linear-gradient(to right, #1c9ecb, #2cbbaa);
  width: 250px;
  height: 27px;
  display: block;
  border-radius: 50px;
  position: absolute; }

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.8rem;
  padding-left: .8rem; }

.img-depoimento {
  width: 120px !important;
  border-radius: 50%;
  height: 120px;
  margin: 20px auto; }

.table-responsive {
  display: inline-table !important; }

@media (max-width: 850px) {
  .table-responsive {
    display: block !important; } }
.navbar {
  z-index: 999; }

.navbar-nav {
  margin-top: -26px;
    /* .active {
      color: $white !important;
      border-top: 6px solid $color-dynamic;

      .nav-link {
        padding: 2px 13px;
        background: $color-dynamic;
        border-radius: 40px;
        color: $white !important;

        &:hover {
          color: $white !important;
          font-weight: bold;
        }
      }
    } */ }
  .navbar-nav .nav-item {
    color: #ffffff !important;
    font-weight: bold;
    padding-top: 20px;
   /*  .active{
      padding: 2px 13px;
  background: #ff731e;
  border-radius: 40px;
    } */ }
    .navbar-nav .nav-item .nav-link {
      color: #ffffff;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -o-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s; }
      .navbar-nav .nav-item .nav-link:hover {
        font-weight: bold;
        color: #fff; }
  .navbar-nav .cadastrar {
    background: #2cbbaa;
    border-radius: 4px 0 0 4px;
    font-weight: bold; }
  .navbar-nav .login {
    background: #1c9ecb;
    border-radius: 0 4px 4px 0;
    font-weight: bold; }
  .navbar-nav .cadastrar:hover,
  .navbar-nav .login:hover {
    background: #ffffff; }

.bg-scroll {
  background-color: #3c9daf !important;
  width: 100% !important;
  z-index: 999 !important;
  position: fixed !important;
  -webkit-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 17px -4px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s; }
  .bg-scroll .nav-item {
    color: #fff !important; }
    .bg-scroll .nav-item .nav-link {
      color: #fff; }
  .bg-scroll .cadastrar {
    background: #2cbbaa;
    border-radius: 4px 0 0 4px;
    font-weight: bold;
    color: #fff !important; }
  .bg-scroll .login {
    background: #1c9ecb;
    border-radius: 0 4px 4px 0;
    font-weight: bold;
    color: #fff !important; }
  .bg-scroll .cadastrar:hover,
  .bg-scroll .login:hover {
    background: #db6722;
    color: #ffffff !important; }

.color-default {
  color: #2cbbaa; }

.bold {
  font-weight: bold; }

.btn-default {
  color: #ffffff !important;
  background-image: linear-gradient(to right, #2cbbaa, #1c9ecb) !important;
  padding: 10px 35px;
  border: none;
  cursor: pointer;
  display: inline-block;
  margin: 3px;
  font-weight: bold;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px; }

.green {
  background-color: green !important;
  color: #fff !important;
  font-weight: normal;
  padding: 5px 15px; }

.btn-download {
  color: #292929 !important;
  background-color: #ebe9e9 !important;
  border: 1px solid #ebe9e9;
  padding: 10px 35px;
  display: inline-block;
  margin: 3px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px; }

.btn-download:hover {
  background-color: #d4d2d2 !important;
  border: 1px solid #d4d2d2; }

.btn-transparent {
  color: #ffffff !important;
  background-color: transparent !important;
  border: 1px solid #ffffff;
  padding: 10px 35px;
  display: inline-block;
  margin: 3px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -o-border-radius: 50px; }

.btn-transparent:hover {
  background-color: #2cbbaa !important;
  border: 1px solid #2cbbaa; }

.inputgroupicon {
  position: relative; }
  .inputgroupicon .input-search {
    border-radius: 30px;
    height: 40px;
    background: transparent;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
    padding: 10px 40px;
    font-size: 15px;
    max-width: 170px; }
  .inputgroupicon .icon-search {
    position: absolute;
    color: #2a2a2a;
    font-size: 20px;
    display: block;
    top: 12px;
    left: 15px; }

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ff7307;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 115, 7, 0.25); }

form#sendmessage input {
  background: #dbdbdb;
  color: #292929;
  border-radius: 10px;
  height: 55px;
  margin-bottom: 15px; }
form#sendmessage textarea {
  background: #dbdbdb;
  color: #292929;
  border-radius: 21px;
  margin-bottom: 15px;
  padding: 20px; }
form#sendmessage button {
  cursor: pointer; }

body {
  overflow-x: hidden;
  background-color: #fdfcfa; }

header#header-home {
  position: relative;
  height: 100vh;
  background-image: url("../images/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; }
  header#header-home nav {
    position: absolute;
    top: 0;
    width: 100%; }
  header#header-home .img {
    position: absolute;
    bottom: 0px;
    right: 0px; }
  header#header-home .top-header {
    width: 100%;
    display: block;
    margin: 0 auto;
    z-index: 1; }
  header#header-home .header-top {
    right: 0;
    left: 0;
    margin: auto; }
    header#header-home .header-top .itemslide {
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      padding-top: 130px; }
      header#header-home .header-top .itemslide .description .space-title1 {
        margin-left: 80px; }
      header#header-home .header-top .itemslide .description .space-title2 {
        margin-left: 50px; }
      header#header-home .header-top .itemslide .description .space-title3 {
        margin-left: 120px; }
      @media (max-width: 850px) {
        header#header-home .header-top .itemslide .description .space-title1,
        header#header-home .header-top .itemslide .description .space-title2,
        header#header-home .header-top .itemslide .description .space-title3 {
          margin-left: 0px; } }
      header#header-home .header-top .itemslide .description .title {
        color: #ffffff !important;
        line-height: 55px;
        font-size: 3.5em;
        text-transform: uppercase; }
        header#header-home .header-top .itemslide .description .title .align-bar {
          bottom: 0px;
          z-index: 0;
          width: 280px; }
      header#header-home .header-top .itemslide .description .text {
        margin-top: 40px;
        width: 300px; }
  @media (max-width: 850px) {
    header#header-home .img {
      display: none; } }

section#newsletter .padding-align {
  padding: 40px;
  background-color: #fff;
  margin-top: -110px;
  -webkit-box-shadow: 1px 25px 33px -6px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 1px 25px 33px -6px rgba(0, 0, 0, 0.26);
  box-shadow: 1px 25px 33px -6px rgba(0, 0, 0, 0.26);
  border-radius: 25px; }
section#newsletter .textnews {
  text-transform: uppercase;
  font-size: 25px; }
  section#newsletter .textnews .align-bar {
    width: 185px;
    bottom: -6px;
    height: 20px;
    right: 0; }
section#newsletter .format-inputbtn {
  border-radius: 90px !important;
  height: 50px; }

section#como-funciona {
  color: #333333 !important;
  position: relative;
  min-height: 814px;
  padding: 100px 0;
  /* margin-top: 16px; */ }
  section#como-funciona:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-image: url("../images/woman.png");
    width: 415px;
    height: 700px; }
  @media (max-width: 850px) {
    section#como-funciona:after {
      background-image: none; } }
  section#como-funciona .title {
    color: #2a2a2a !important;
    line-height: 40px;
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 6rem; }
    section#como-funciona .title .align-bar {
      width: 230px;
      bottom: 1px;
      height: 20px;
      right: 0; }

@media (max-width: 850px) {
  section#como-funciona {
    padding: 0px; } }
section#phrasestruct {
  background: url("../images/bg-line.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #ffffff;
  padding: 100px 0; }
  section#phrasestruct .text {
    text-transform: uppercase; }
    section#phrasestruct .text .fine {
      font-weight: normal;
      font-size: 25px; }
    section#phrasestruct .text .ls-3 {
      letter-spacing: 3px; }
    section#phrasestruct .text .align-bar {
      width: 513px;
      bottom: 1px;
      height: 20px;
      right: 0; }
  @media (max-width: 850px) {
    section#phrasestruct .align-bar {
      display: none; } }

section#objetivos .size-defaut {
  width: 50%;
  float: left;
  padding: 115px;
  margin-right: auto;
  margin-left: auto; }
@media (max-width: 850px) {
  section#objetivos .size-defaut {
    width: 100%;
    padding: 60px;
    float: none; } }
section#objetivos .what {
  background: url("../images/bg-what.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }
  section#objetivos .what .title {
    text-transform: uppercase; }
    section#objetivos .what .title .align-bar {
      width: 213px;
      bottom: 1px;
      height: 20px;
      right: 0; }
section#objetivos .objective {
  background: url("../images/objective.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover; }
  section#objetivos .objective .title {
    text-transform: uppercase; }
    section#objetivos .objective .title .align-bar {
      width: 215px;
      bottom: 1px;
      height: 20px;
      right: 0; }

section#vantagens {
  padding: 100px 0;
  clear: both; }
  section#vantagens .title {
    color: #2a2a2a !important;
    line-height: 40px;
    font-size: 35px;
    text-transform: uppercase; }
    section#vantagens .title .align-bar {
      width: 182px;
      bottom: 1px;
      height: 20px;
      right: 0; }
  section#vantagens .icon-circle {
    background-color: #1c9ecb;
    height: 70px;
    width: 70px;
    margin: 0 auto; }
  section#vantagens .top-align {
    min-height: 130px; }
  section#vantagens .linear-bar {
    background-image: linear-gradient(to right, #2cbbaa, #1c9ecb) !important;
    height: 15px;
    margin-bottom: 30px; }
  @media (max-width: 850px) {
    section#vantagens .title {
      font-size: 30px; }
      section#vantagens .title .align-bar {
        width: 155px; } }

section#contact {
  padding-bottom: 30px;
  clear: both; }
  section#contact .title {
    color: #2a2a2a !important;
    line-height: 40px;
    font-size: 40px;
    text-transform: uppercase; }
    section#contact .title .align-bar {
      bottom: 0;
      right: 0;
      width: 380px; }
  section#contact label {
    font-weight: bold;
    font-size: 15px; }
  section#contact .form-control {
    height: 60px;
    font-size: 15px;
    border-radius: 50px;
    padding: 30px;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 30px; }
  section#contact .message {
    height: 250px; }
  @media (max-width: 850px) {
    section#contact .title {
      font-size: 32px; }
      section#contact .title .align-bar {
        bottom: 0;
        right: 0;
        width: 306px; } }

footer#footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 15px;
  background: #fff;
  color: #5a5a5a; }
  footer#footer a {
    color: #5a5a5a;
    font-weight: 900;
    font-size: 15px; }
    footer#footer a:hover {
      color: #2cbbaa; }
  footer#footer p {
    font-size: 15px; }
  footer#footer h5 {
    font-weight: bold;
    font-size: 14px; }
  footer#footer .copy {
    color: #5a5a5a; }
  footer#footer .dev {
    color: #5a5a5a;
    text-align: right; }
    footer#footer .dev a {
      font-weight: bold;
      color: #5a5a5a; }
  footer#footer .redesocial {
    background: #5a5a5a;
    height: 28px;
    width: 28px;
    border-radius: 100%;
    display: block;
    color: #fff;
    padding: 3px 9px;
    float: left;
    margin-left: 5px;
    font-weight: normal; }
    footer#footer .redesocial:hover {
      background: #2cbbaa;
      color: #fff !important; }
  @media (max-width: 850px) {
    footer#footer .copy, footer#footer .dev {
      text-align: center; } }

/*# sourceMappingURL=main.css.map */
