@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
}


@mixin transform-rotate($val){
	-webkit-transform: rotate($val);
	-ms-transform: rotate($val);  
		transform: rotate($val);  
}

@mixin transition($val){
	-webkit-transition: $val;
    -moz-transition:    $val;
    -o-transition:      $val;
    -ms-transition:     $val;
    transition:         $val;
}

@mixin hover-dinamic($val){
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #ff731e, #c04902);
      border-radius: 100%;
      -webkit-transform: scale(2);
      transform: scale(2);
      -webkit-transition-property: transform;
      transition-property: transform;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    &:hover, &:focus, &:active {
      color: white;
    }
    &:hover:before, &:focus:before, &:active:before {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
}

