/*Color palets*/
$white:      #ffffff;
$black:      #000000;
$color-dynamic: #2cbbaa;
$color-dynamic2: #1c9ecb;
$bg-dynamic: #2cbbaa;
$color-hover: #1c9ecb;
$red-dark: #853d34;
$dlink: #2cbbaa;
$gray-light: #b7b7b7;
$body-color: #fdfcfa;
$gray: #848484;
$gray-2: #2a2a2a;
/*Fonts*/
@font-face {
    font-family: 'gotham-ultra';
    src: url('../fontes/gotham-ultra.otf');
}

@font-face {
    font-family: 'gotham-book';
    src: url('../fontes/gotham-book.otf');
}

/*Bootstrap*/
$font-family-sans-serif:      'Open Sans', sans-serif !default;
$font-family-monospace:       'Open Sans', sans-serif !default;
$font-family-base:            $font-family-sans-serif !default;

/* $modal-content-bg:                  $dark-slide !default;
$modal-content-border-color:        transparent !default;
$modal-content-border-width:        0 !default;
$modal-content-border-radius:       30px !default; */

/*responsive dynamic system*/
//== Media queries breakpoints

// Extra small screen / phone
$screen-xs:                  480px;
$screen-xs-min:              $screen-xs;

// Small screen / tablet
$screen-sm:                  850px;
$screen-sm-min:              $screen-sm;

// Medium screen / desktop
$screen-md:                  1024px;
$screen-md-min:              $screen-md;

// Large screen / wide desktop
$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

$screen: "only screen";
$xs-up: $screen;
$xs-only: "#{$screen} and (max-width: #{$screen-xs-max})";

$sm-up: "#{$screen} and (min-width: #{$screen-sm-min})";
$sm-only: "#{$screen} and (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max})";

$md-up: "#{$screen} and (min-width: #{$screen-md-max})";
$md-only: "#{$screen} and (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})";

$lg-up: "#{$screen} and (min-width: #{$screen-lg-min})";