body{
    overflow-x: hidden;
    background-color: $body-color;
}


header#header-home{
   position: relative;
   height: 100vh;
   background-image: url('../images/header.jpg');
   background-repeat: no-repeat;
   background-size: cover;

   nav{
       position: absolute;
       top: 0;
       width: 100%;
   }

   .img{
       position: absolute;
       bottom: 0px;
       right:0px; 
   }

   @media (min-width: 1600px) {
    .img{ 
        img{
            width: 1100px!important;
        }
    }
   }



   .top-header {
        width: 100%;
        display: block;
        margin: 0 auto;
        z-index: 1;
    }  
    .header-top {
        right: 0;
        left: 0;
        margin: auto;

        .itemslide{
            width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 130px;

            .description{
                .space-title1{
                    margin-left: 80px;
                }
                .space-title2 {
                    margin-left: 50px;
                }
                .space-title3 {
                    margin-left: 120px;
                }
                @media (max-width: $screen-sm) {

                    .space-title1,
                    .space-title2,
                    .space-title3 {
                        margin-left: 0px;
                    }
                }
                .title {
                    color: $white !important;
                    line-height: 55px;
                    font-size: 3.5em;
                    text-transform: uppercase;

                    .align-bar{
                        bottom: 0px;
                        z-index: 0;
                        width: 280px;
                    }
                }

                .text{
                   margin-top: 40px;
                   width: 300px;

                }
            }
        }
    } 

    @media (max-width: $screen-sm){
        .img {
            display: none;
        }
    }
}

section#newsletter {
    .padding-align{
        padding: 40px;
        background-color: #fff;
        margin-top: -110px;
        -webkit-box-shadow: 1px 25px 33px -6px rgba(0, 0, 0, 0.26);
        -moz-box-shadow: 1px 25px 33px -6px rgba(0, 0, 0, 0.26);
        box-shadow: 1px 25px 33px -6px rgba(0, 0, 0, 0.26);
        border-radius: 25px;
        position: relative;
        z-index: 1;
    }
   .textnews{
       text-transform: uppercase;
       font-size: 25px;

        .bar{
            &:after{          
                height: 20px!important;
            }
        }

       .align-bar{
           width: 185px;
       }
   }

   .format-inputbtn{
       border-radius: 90px !important;
       height: 50px;
   }
}
section#como-funciona {
    color: #333333 !important;
    position: relative;
    /* min-height: 814px; */
    padding-top: 160px;
    padding-bottom: 250px;
    /* margin-top: 16px; */
    .timeline{
        position: relative;
        .bg-line {
            position: relative;
            left: 0;
            top: 150px;
            background-repeat: no-repeat;
            background-image: url('../images/line.png');
            background-size: contain;
            width: 100%;
            height: 388px;/* 
            margin-top: -194px; */
        }

        .ball{
            background-color: $gray-2;
            width: 40px;
            height: 40px;
            z-index: 1;
            display: block;
            @include border-radius(50%);
            @include transition(.5s);
            &:after{
                content: '';
                position: absolute;
                width: 60px;
                height: 60px;
                border: 1px solid $gray-2;
                padding: 15px;
                left: -10px;
                top: -10px;
                text-align: center;
                @include border-radius(50%);
                @include transition(.5s);
            }

            &:hover{
                background-image: linear-gradient(to right, $color-dynamic, $color-dynamic2) !important;
                &:after{
                    border: 1px solid $color-dynamic2;
                }
            }
        }

        .-one{
            position: absolute;
            left: -135px;
            right: 0;
            margin: 0 auto;
            top: 142px;
        }

        .-two{
            @extend .-one;
            left: 420px;
            top: 160px;
        }

        .-three{
            @extend .-one;
            left: 980px;
            top: 215px;
        
        }

        @media (max-width: 600px){

            .-one{
                position: absolute;
                left: -135px;
                top: 142px;
            }
    
            .-two{
                position: absolute;
                left: 420px;
                top: 160px;
            }
    
            .-three{
                position: absolute;
                left: 980px;
                top: 215px;
            
            }
        }

        .box {
            border: 1px solid #fff;
            border-radius: 10px;
            padding: 20px;
            text-align: center;
            color: #fff;
        }

        .box-position {
            position: absolute;
            z-index: 1;
            padding: 10px;
            border-radius: 10px;
            background-image: url('/assets/images/box-timeline.png');
            background-size: cover;
            background-repeat: no-repeat;
            margin: 0 auto;

            i {
                font-size: 75px;
            }

        }

        @media (max-width: $screen-sm) {
            .box-position {
                position: initial;
                margin: 10px;
            }
        }

        .box-position-one {
            left: -135px;
            right: 0;
            top: 212px;
        }

        .box-position-two {
            left: 420px;
            right: 0;
            top: 226px;
        }

        .box-position-three {
            left: 980px;
            right: 0;
            top: 273px;
        }

        
    }

    

    &:after {
        content: '';
        position: absolute;
        left: 70px;
        bottom: 0;
        background-repeat: no-repeat;
        background-image: url('../images/woman.png');
        width: 415px;
        height: 700px;
    }

    

    @media (max-width: $screen-sm) {
        &:after {
            background-image: none;
        }
    }

    .title {
        color: #2a2a2a !important;
        line-height: 40px;
        font-size: 40px;
        text-transform: uppercase;
        /* padding-top: 6rem; */

        .align-bar {
            width: 230px;
            bottom: 1px;
            height: 20px;
            right: 0;
        }
    }
}

@media (max-width: $screen-sm) {
    section#como-funciona {
        padding: 70px 0;
    }
}


section#phrasestruct {
    background: url('../images/bg-line.png');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: $white;
    padding: 100px 0;

    .text{
        text-transform: uppercase;

        .fine{
            font-weight: normal;
            font-size: 25px;
        }

        .ls-3{
            letter-spacing: 3px;
        }

        .align-bar {
            width: 513px;
            bottom: 1px;
            height: 20px;
            right: 0;
            z-index: 1;
        }

        @media (max-width: $screen-sm) {
            .bar {
                &:after {
                    bottom: -50px !important;
                }
            }
        }
    }

}

section#objetivos{
    .size-defaut{
        width: 50%;
        float: left;
        padding: 115px;
        margin-right: auto;
        margin-left: auto;
    }

    @media (max-width: $screen-sm) {
        .size-defaut {
            width: 100%;
            padding: 60px;
            float: none;
        }
    }

    .what{
        background: url('../images/bg-what.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        .title{
            text-transform: uppercase;

            .bar {
                &:after {
                    bottom: 0px !important;
                }
            }

            .align-bar {
                width: 213px;
                z-index: 1;
            }
        }
    }

    .objective {
        background: url('../images/objective.jpg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;

        .title {
            text-transform: uppercase;

            .bar {
                &:after {
                    bottom: 0px !important;
                }
            }

            .align-bar {
                width: 215px;
                z-index: 1;
            }
        }
    }
}

section#vantagens{
    padding: 100px 0;
    clear: both;

    .title {
        color: #2a2a2a !important;
        line-height: 40px;
        font-size: 35px;
        text-transform:uppercase;

        .bar {
            &:after {
                bottom: 0px !important;
            }
        }

        .align-bar {
            width: 182px;
            z-index: 1;
        }
    }

    .icon-circle{
        background-color: $color-dynamic2;
        height: 70px;
        width: 70px;
        margin: 0 auto;
    }

    .top-align {
        min-height: 130px;
    }

    .linear-bar{
        background-image: linear-gradient(to right, $color-dynamic, $color-dynamic2) !important;
        height: 15px;
        margin-bottom: 30px;
    }

    @media (max-width: $screen-sm) {
        .title {
            font-size: 30px;

            .align-bar {
                width: 155px;
            }
        }
    }
}

section#contact {
    padding-bottom: 30px;
    clear: both;

    .title {
        color: #2a2a2a !important;
        line-height: 40px;
        font-size: 40px;
        text-transform: uppercase;

        .bar {
            &:after {
                bottom: 0px !important;
            }
        }

        .align-bar {
            width: 380px;
            z-index: 1;
        }
    }

    label{
        font-weight: bold;
        font-size: 15px;
    }

    .form-control {
        height: 60px;
        font-size: 15px;
        border-radius: 50px;
        padding: 30px;
        background: #fff;
        border: 1px solid #ccc;
        margin-bottom: 30px;
    }

    .message{
        height: 250px;
    }

    @media (max-width: $screen-sm) {

        .title {
            font-size: 32px;

            .align-bar {
                bottom: 0;
                right: 0;
                width: 306px;
            }
        }
    }

}

footer#footer{
    position: relative;
    padding-top: 40px;
    padding-bottom: 15px;
    background:#fff;
    color: #5a5a5a;

    a {
        color: #5a5a5a;
        font-weight: 900;
        font-size: 15px;

        &:hover {
            color: $color-dynamic;
        }
    }

    p {
        font-size: 15px;
    }

    h5 {
        font-weight: bold;
        font-size: 14px;
    }


    .copy{
        color: #5a5a5a;
    }

    .dev{
        color: #5a5a5a;
        text-align: right;
        a{
            font-weight: bold;
            color: #5a5a5a;
        }
    }

    .redesocial{
        background: #5a5a5a;
        height: 28px;
        width: 28px;
        border-radius: 100%;
        display: block;
        color: #fff;
        padding: 3px 9px;
        float: left;
        margin-left: 5px;
        font-weight: normal;

        &:hover {
            background: $color-dynamic;
            color: #fff !important; 
        }
    }

    @media (max-width: $screen-sm){
        .copy, .dev{
            text-align: center;
        }
    }
}